html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}

.padding-x {
    padding: 0 40px;
}

.max-width {
    max-width: 1279px;
    margin: 0 auto;
}

:root {
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(239, 22%, 44%);
    
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}

* > a {
    text-decoration: none;
    color: #000;
}

* > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

.header {
    height: 160px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo img {
    height: 36px;
}

.header_list ul {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}

.header_list li {
    margin: 0 20px;
}

.header_list a:hover {
    color: #ccc;
}

.banner, .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_text, .container_text {
    width: 640px;
    padding: 0 20px;
}

.banner_img img , 
.container_img img{
    width: 480px;
}

.container {
    padding-bottom: 50px;
}

.container_bg {
    background-color: var(--Light-Grayish-Blue);
    padding-top: 80px;
}

.container_header {
    background: url(./images/bg-curve-desktop.svg) no-repeat center bottom / contain ;
    height: 250px;
    width: 100%;
}

.container_text h2 {
    font-weight: 600;
    font-size: 36px;
}

.container_text a {
    color: var(--Moderate-Cyan);
    border-bottom: 1px solid var(--Moderate-Cyan); 
    opacity: 1;
}

.container_text a:hover {
    opacity: 0.6;
}

.quote {
    width: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    margin: 50px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 20px var(--Light-Gray);
}

.quote_icon img{
    width: 20px;
}

.quote_content {
    font-size: 0.8em;
    line-height: 2em;
    letter-spacing: 0.05em;
}

.quote_people {
    margin-top: 20px;
    display: flex;
    align-items:center;
    letter-spacing: 0.05em;
}

.quote_people img {
    width: 50px;
    border-radius: 200px;
    margin-right: 20px;
}

.quote_people span {
    display: block;
}

.quote_people_name span:first-child {
    font-weight: bold;
    font-size: 0.8em;
}

.quote_people_name span:last-child {
    font-size: 0.5em;
}

.edm_bg {
    background-color: var(--Desaturated-Blue);
}

.edm {
    color: #fff;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
}

.edm_text {
    width: 50%;
}

.edm_text h3 {
    font-size: 1.6em;
    margin: 0;
    /* letter-spacing: 0.1em; */
}

.email_form, .edm_form {
    position: relative;
}

.edm_form {
    flex-grow: 0.7;
    /* padding-left: 100px; */
}

.email_form form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 36px;
}

.edm_form form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.email_form input[type="email"], 
.edm_form input[type="email"] {
    outline: none;
    border: 1px solid #ccc;
    padding: 10px 0px 10px 20px;
    color: #ccc;
    border-radius: 3px;
    flex-grow: 0.9;
    margin-bottom: 20px;
}

.email_form input[type="button"], 
.edm_form input[type="button"] {
    background-color: var(--Bright-Blue);
    color: #fff;
    opacity: 1;
    outline: none;
    border: none;
    padding: 10px 50px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #ccc;
}

.email_form input[type="email"]::placeholder, 
.edm_form input[type="email"]::placeholder {
    color: #ccc;
}

.email_form input[type="email"]:focus, 
.edm_form input[type="email"]:focus {
    box-shadow: 0 0 3px red;
}

.email_form input[type="button"]:hover, 
.edm_form input[type="button"]:hover {
    opacity: 0.8;
    cursor: pointer;
}

.edm_form input[type="email"] {
    width: 100%;    
}

.edm_form input[type="button"] {
    box-shadow: 1px 2px 5px #50467e;
}

.email_warn_msg {
    position: absolute;
    top: 48px;
    font-size: 0.5em;
    color: red;
    display: none;
}

.edm_form .email_warn_msg {
    color: #fff;
}

.email_form input[type="email"]:focus + .email_warn_msg, .edm_form input[type="email"]:focus + .email_warn_msg {
    display: block;
}

.edm_form input[type="email"]:focus ~ input {
    margin-top: 16px;
}

.footer_bg {
    background-color: var(--Very-Dark-Blue);

}

.footer {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer a, .footer a:active,.footer a:visited {
    color: #fff;
}

.footer a:hover {
    color: var(--Desaturated-Blue);
}

.footer_logo{
    width: 100%;
    margin-bottom: 30px;
}

.footer_logo img {
    width: 200px;
}

.footer_list {
    display: flex;
    
}

.footer_company div{
    margin-bottom: 20px;
}

.company_phone img , 
.company_email img {
    margin-right: 20px;
}

.footer_about, 
.footer_contact {
    line-height: 2em;
}

.footer_about p, 
.footer_contact p {
    margin: 0;
    font-weight: bold;
}

.footer_about ul, 
.footer_contact ul {
    margin: 10px 0; 
}

.footer_media img {
    width: 30px;
    margin-left: 10px;
}

.attribution {
    width: 100%;
    padding-top: 50px;
}


/* mobie */
@media (max-width: 1023px) {
    .padding-x {
        padding: 20px;
    }

    .max-width {
        max-width:720px;
    }

    .banner, 
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container_header {
        height: 200px;
    }

    .container {
        margin-top: 50px;
        padding-bottom: 80px;
    }

    .banner_text, 
    .container_text {
        text-align: center;
        padding: 0;
        margin: 0;
        align-items: center;
        max-width: 720px;
        width: auto;
    }

    .banner_img, 
    .container_img  {
        order: -1;
        margin-bottom: 100px;
    }

    .banner_img img, 
    .container_img img {
        max-width: 640px;
        width: auto;
    }

    .email_form form, 
    .edm_form form {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 80%;
        margin: 0 auto;
        margin-top: 36px;
    }

    .edm_form input[type="email"] {
        width: auto;
    }

    .email_form input[type="email"]:focus ~ input {
        margin-top: 16px;
    }

    .edm_form .email_warn_msg {
        margin-top: 36px;
    }

    .container_text p {
        text-align: left;
    }

    .container_text a {
        margin: 30px auto;
        display: inline-block;
    }

    .quote {
        margin: 20px auto;
        text-align: left;
    }

    .edm {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 80px 20px;
    }

    .edm_form, 
    .edm_text {
        width: 100%;
        padding: 0;
    }

    .container_text h2, 
    .edm_text h3 {
        font-size: 1.5em;
    }

    .footer {
        /* flex-direction: column; */
        justify-content: space-around;
        align-items: start;
        padding: 80px 40px 40px;
    }

    .footer_company {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer_company .company_phone,
    .footer_company .company_email {
        width: 50%;

    }

    .footer_about, 
    .footer_contact {
        width: 50%;
        align-self: flex-start;
    }
 
    .footer_company,
    .footer_media {
        margin: 30px 0;
    }

    .footer_media {
        align-self: center;
    }

}

@media (max-width: 767px) {

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }


    .header {
        flex-direction: column;
    }

    .header_logo img{
        height: 64px;
    }

    .header_list ul {
        font-size: 1.5em;
    }

    .banner_img, .container_img {
        margin-bottom: 50px;
    }

    .banner_img img, .container_img img {
        max-width: 400px;
        width: auto; 
    }

    .container_header {
        height: 120px;
    }
}

@media (max-width: 424px) {

    .header_list {
        display: none;
    }

    .padding-x-100 {
        padding: 10px;
    }
    
    .warp {
        margin: 0 auto;
    }

    .header {
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }

    .header_list ul {
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
        font-size: 1.2em;
        width: calc(100vw - 20px);
    }

    .header_list ul li {
        display: block;
        width: 100%;
    }
    
    .header_list a {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .container {
        padding-bottom: 50px;
    }

    .banner_img img, 
    .container_img img {
        max-width: 280px;
    }

    .banner input[type="email"], 
    .edm input[type="email"] {
        max-width: 260px;
    }

    .banner input[type="button"], 
    .edm input[type="button"] {
        max-width: 280px;
    }

    .quote {
        width: auto;
        min-width: 200px;
    }

    .edm {
        padding: 80px 10px;
    }

    .footer {
        text-align: center;
    }

    .footer_company {
        display: block;
    }

    .footer_company .company_email,
    .footer_company .company_phone,
    .footer_about, 
    .footer_contact {
        width: 100%;
    }

}